<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="row" th:fragment="player">
    <div class="col-md-12 text-center">
        <audio controls>
            <!--/*@thymesVar id="exercise" type="tq.arxsoft.metalmaths.model.ExerciseDTO"*/-->
            <source th:src="@{mp3Formula(formula=${exercise.formula}, lang=${exercise.lang})}" type="audio/mpeg">
            Say it!
        </audio>
    </div>
</div>

</body>
</html>