<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>TQ</title>
</head>
<body>
<span th:text="${exercise.formula}"></span>
<audio controls>
    <!--/*@thymesVar id="exercise" type="tq.arxsoft.metalmaths.model.ExerciseDTO"*/-->
    <source th:src="@{mp3Formula(formula=${exercise.formula})}"  type="audio/mpeg">
    Say it!
</audio>
<form th:action="@{answer}">
    <table>
        <tr>
            <td th:each="answer: ${exercise.answers}">
                <button name="answer" type="submit" th:value="${answer}" th:text="${answer}"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>